@charset "utf-8";

/* ——————————————————————————
 * Reset
/* —————————————————————————— */
*{margin:0;padding:0;border:0;outline:0;vertical-align:top;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: rgba(0,0,0,0);}
::-moz-selection{background:#503e9d;color:white;text-shadow:none}
::selection{background:#503e9d;color:white;text-shadow:none}
html{-ms-overflow-style:-ms-autohiding-scrollbar}
/* body,html{font-smooth:always;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;zoom:1} */
body{font-family:'Lato','NotoSansKR','Noto Sans KR','Apple SD Gothic Neo',sans-serif;font-weight:normal;font-size:13px;line-height:1.5;color:#222;letter-spacing: -0.025em;word-break:keep-all}

blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul{margin:0;padding:0;list-style:none}
b, h1, h2, h3, h4, h5, h6, strong{font-weight:normal}
fieldset{border:0}
a{font-style:normal;text-decoration:none;color:#222}
a:hover{color:inherit}
caption{font-size:0;height:0;line-height:0;visibility:hidden;width:0}
.checks *, .chk *, .radioWrap *, a, a:hover, button, button:hover{cursor:pointer;-webkit-transition:all 0.1s linear;-moz-transition:all 0.1s linear;-ms-transition:all 0.1s linear;-o-transition:all 0.1s linear;transition:all 0.1s linear}
a:focus{outline:none !important}
button img{vertical-align:middle}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block}
img, video{border:0;vertical-align:top}
table{width:100%;border-collapse:collapse;border-spacing:0;word-break:break-all}
input, select{vertical-align:middle}
label{cursor:pointer}
.blind, caption, hr, legend{position:absolute;top:-9999px;font-size:0;line-height:0}
.hide_text{position:absolute;display:inline-block;font-size:0;height:0;line-height:0;visibility:hidden;width:0;text-indent:-9999em}
address, em, i{font-style:normal;font-weight:normal}
td, th{vertical-align:middle}
button, input, select, textarea{font-family:'Lato','NotoSansKR','Noto Sans KR','Apple SD Gothic Neo',sans-serif;font-size:13px;position:relative;background:transparent;-webkit-border-radius:0;border-radius:0;zoom:1}
pre{font-family:'Lato','NotoSansKR','Noto Sans KR','Apple SD Gothic Neo',sans-serif;font-size:13px;white-space:pre-line;}
embed{display:none}
#contents:after, #footer:after, #header:after, #wrap:after, .inner:after, .section:after, dl:after, ol:after, ul:after, .row:after, .col:after, .form_group:after{display:block;clear:both;content:""}

.scroll_y{max-height:220px;overflow:hidden;overflow-y:auto}

img.rts_logo{width:22px;height:auto}

.opa0{opacity:0 !important}

/* ——————————————————————————
 * skip
/* —————————————————————————— */
#skip_navi {position:relative;text-align:center;}
#skip_navi a {display:block;overflow:hidden;width:0;height:0;font-weight:bold;white-space:nowrap;}
#skip_navi a:focus, #skip_navi a:active {overflow:hidden;width:100%;height:30px;line-height:30px;color:#ffffff;background:#006cb8;}

/* ——————————————————————————
 * 여백
/* —————————————————————————— */
/* margin */
.mg0{margin:0 !important;}
/* margin-top */
.mgt0 {margin-top:0 !important}
.mgt10 {margin-top:10px !important}
.mgt15 {margin-top:15px !important}
.mgt20 {margin-top:20px !important}
.mgt30 {margin-top:30px !important}
/* margin-bottom */
.mgb0 {margin-bottom:0 !important}
.mgb10{margin-bottom:10px !important;}
.mgb20 {margin-bottom:20px !important;}
.mgb30 {margin-bottom:30px !important;}
/* margin-left */
.mgl0 {margin-left:0 !important}
.mgl10 {margin-left:10px !important;}
.mgl20 {margin-left:20px !important;}
.mgl30{margin-left:30px !important;}
/* margin-right */
.mgr0 {margin-right:0 !important}
.mgr10 {margin-right:10px !important}
.mgr20 {margin-right:20px !important;}
.mgr30{margin-right:30px!important;}

/* padding */
.pd0 {padding:0 !important}
.pd20 {padding:20px !important}
.pd020 {padding: 20px 0 !important}
/* padding-top */
.pdt0 {padding-top:0 !important}
/* padding-bottom */
.pdb0 {padding-bottom:0 !important}
/* padding-left */
.pdl0 {padding-left:0 !important;}
/* padding-right */
.pdr0 {padding-right:0 !important}

/* ——————————————————————————
 * font
/* —————————————————————————— */
.txt_red {color:#d6463f !important;}
.txt_wht {color:#FFFFFF !important;}
.txt_org {color:#fa6c39 !important;}
.txt_pp {color:#503e9d !important;}

.txt_fs13 {font-size:13px;}
.txt_fs14 {font-size:14px;}

.txt_c000 {color:#000000 !important;}
.txt_c222 {color:#222222 !important;}
.txt_c333 {color:#333333 !important;}
.txt_c666 {color:#666666 !important;}
.txt_c888 {color:#888888 !important;}
.txt_c999 {color:#999999 !important;}
.txt_through{text-decoration:line-through;}
.txt_under{text-decoration:underline;}

.txt_fw300 {font-weight:300;}
.txt_fw400 {font-weight:400;}
.txt_fw500 {font-weight:500;}
.txt_fw700 {font-weight:700;}
.txt_fw900 {font-weight:900;}

.txt_left {text-align:left !important;}
.txt_center {text-align:center !important;}
.txt_right {text-align: right !important;}
.clear{clear:both}
.ff_NS {font-family:'NanumSquare','Poppins','NotoSansKR','Noto Sans KR','Apple SD Gothic Neo',sans-serif;}
.ff_ppn {font-family:'Poppins','NotoSansKR','Noto Sans KR','Apple SD Gothic Neo',sans-serif;}



/* ——————————————————————————
 * button
/* —————————————————————————— */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #222;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 8px 18px;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    border-radius: 3em;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn_sm {
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1.3;
    border-radius: 2em;
}
.btn_md {
    padding: 8px 14px;
    font-size: 13px;
    line-height: 1.3;
    border-radius: 2em;
}
.btn_lg {
    padding: 14px 34px;
    font-size: 15px;
    line-height: 1.5;
}
.btn_xlg {
    padding: 20px 54px;
    font-size: 16px;
    line-height: 1.5;
}
.btn_primary {
    color: #fff;
    background-color: #FB6D3A;
    border-color: #FB6D3A;
}
.btn_primary:hover {
    background-color: #c9572e;
    border-color: #c9572e;
}
.btn_secondary {
    color: #fff;
    background-color: #503E9D;
    border-color: #503E9D;
}
.btn_secondary:hover {
    background-color: #40327e;
    border-color: #40327e;
}
.btn_basic {
    color: #444;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
}
.btn_basic:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}
.btn_line_basic {
    color: #888;
    border-color: #e2e2e2;
    background-color: #fff;
}
.btn_line_basic:hover {
    background-color: #f7f7f7;
}
.btn_file {
    color: #444;
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    padding: 6px 18px;
    letter-spacing: 0;
}
.btn_file:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}
.btn_file em {
    font-size: 12px;
}


.btn i{margin-right:6px;display:inline-block;vertical-align:baseline}
.btn.btn_sm i{margin-right:3px}
.btn.btn_lg i{margin-right:8px}
.btn.btn_xlg i{margin-right:12px}

/* button | status */
button.status{
    min-width: 80px;
    background-color: #ccc;
    color: #fff;
    font-size: 13px;
    opacity: 1 !important;
    border-radius: 4px;
    letter-spacing: -0.025em;
    cursor:default;
}
button.status_i {
        font-size: 16px;
    padding: 3px;
    text-align: center;
}
button.status_i i {
    display: inline-block;
    margin-right: 0 !important;
}
/*
button.status:after{content:"\e95d";display:inline-block;font-family:'mong-font' !important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-left:3px}
button.status.disabled, button.status:disabled{cursor:default}
button.status.disabled:after, button.status:disabled:after{display:none}
*/
button.status.status_mint{background-color:#1abc9c}
button.status.status_green{background-color:#2ecc71}
button.status.status_blue{background-color:#286be4}
button.status.status_indigo{background-color:#3F51B5}
button.status.status_purple{background-color:#9b59b6}
button.status.status_navy{background-color:#34495e}
button.status.status_yellow{background-color:#f9eb3c;color:#222}
button.status.status_yellow2{background-color:#f1d60f;color:#222}
button.status.status_yellow3{background-color:#e8be02;color:#222}
button.status.status_orange{background-color:#e67e22}
button.status.status_red{background-color:#e74c3c}
button.status.status_light{background-color:#ecf0f1;color:#61646a}
button.status.status_silver{background-color:#d9dbe0;color:#61646a}


/* ——————————————————————————————————————
 * subheader
/* —————————————————————————————————————— */
.subheader{padding:40px 0 20px}
.subheader>.container{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-wrap:wrap;flex-wrap:wrap}

/* subheader_tit */
.subheader .subheader_tit{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.subheader .subheader_tit h3{font-weight:300;font-size:28px}

/* subheader_tools */
.subheader .subheader_tools{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;align-items:center}


/* ——————————————————————————
 * title
/* —————————————————————————— */
.title_line{position:relative;padding:30px 0 10px;border-bottom:2px solid #222}
.title_line h1{font-size:24px}
.title_line h1 i{display:inline-block;vertical-align:middle;background:#FB6D3A;color:#fff;padding:0 6px;font-size:17px;border-radius:4px;margin-left:6px}
.title_line h2{font-size:18px;font-weight:300}


/* ——————————————————————————
 * portlet
/* —————————————————————————— */
.portlet{position:relative;-webkit-box-shadow:0 0 13px 0 rgba(0, 0, 0, 0.07);box-shadow:0 0 13px 0 rgba(0, 0, 0, 0.07);background-color:#fff;margin-bottom:20px;border-radius:4px}

/* portlet_head */
.portlet_head{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;position:relative;padding:0 25px;border-bottom:1px solid #eee;min-height:60px;border-top-left-radius:4px;border-top-right-radius:4px;background:#f9f9f9}
.portlet_head_tit{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-line-pack:flex-first;align-content:flex-first}
.portlet_head_tit h3{font-size:16px;color:#555}
.portlet_head_tit .count{font-size:0}
.portlet_head_tit .count dl{display:inline-block;position:relative}
.portlet_head_tit .count dl:before{content:'';width:1px;height:16px;display:inline-block;background:#ddd;margin:0 10px;vertical-align:middle}
.portlet_head_tit .count dl:first-child:before{display:none}
.portlet_head_tit .count dl dd,
.portlet_head_tit .count dl dt{display:inline-block;font-size:15px;color:#888;font-weight:400;vertical-align:middle}
.portlet_head_tit .count dl dd{margin-left:7px}
.portlet_head_tit .count dl dd em{color:#222;letter-spacing:0}
.portlet_head_tools{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:nowrap;flex-wrap:nowrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.portlet_head_tools .selectric_wrap{min-width:130px;margin-left:8px}

/* portlet_body */
.portlet_body{position:relative;padding:25px;border-radius:4px}

/* portlet_foot */
.portlet_foot{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;position:relative;padding:0 25px;border-top:1px solid #e8e8e8;min-height:60px;border-bottom-left-radius:4px;border-bottom-right-radius:4px}
.portlet_foot_lt{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-ms-flex-wrap:wrap;flex-wrap:wrap}
.portlet_foot_rt{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.portlet_foot_lt .btn_group .btn{margin-right:4px}
.portlet_foot_rt .btn_group .btn{margin-left:4px}


/* ——————————————————————————
 * info_list
/* —————————————————————————— */
.info_list{margin-top:10px}
.info_list li{position:relative;color:#888;margin-top:4px;padding-left:10px;font-size:13px}
.info_list li:before{content:'';width:5px;height:1px;background:#999;position:absolute;left:0;top:9px}
.info_list a{color:#888}


/* ——————————————————————————
 * form
/* —————————————————————————— */
input::-webkit-input-placeholder{color:#aaaaaa}
input:-moz-placeholder{color:#aaaaaa;opacity:1}
input::-moz-placeholder{color:#aaaaaa;opacity:1}
input:-ms-input-placeholder{color:#aaaaaa}
input:placeholder-shown{color:#aaaaaa;opacity:1}
textarea::-webkit-input-placeholder{color:#aaaaaa}
textarea:-moz-placeholder{color:#aaaaaa;opacity:1}
textarea::-moz-placeholder{color:#aaaaaa;opacity:1}
textarea:-ms-input-placeholder{color:#aaaaaa}
textarea:placeholder-shown{color:#aaaaaa;opacity:1}

/* form_field */
.form_field {
    display: inline-block;
    min-width: 220px; height: 38px;
    padding: 8px 12px;
    vertical-align: middle;
    font-size: 13px;
    line-height: 20px;
    color: #222;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    background: #fff;
    -webkit-transition: border 300ms, -webkit-box-shadow 300ms;
    transition: border 300ms, -webkit-box-shadow 300ms;
    transition: border 300ms, box-shadow 300ms;
    transition: border 300ms, box-shadow 300ms, -webkit-box-shadow 300ms;
    -webkit-appearance: none;
}
textarea.form_field {
	height: 350px;
	padding: 12px 12px;
}

.form_field:hover {background:#f8f8f8;-webkit-box-shadow:inset 0 0 0 0 #222;box-shadow:inset 0 0 0 0 #222;}
.form_field:focus {background:#f8f8f8;border-color:#222;-webkit-box-shadow:inset 0 0 0 0 #222, 0 0 0 #222;box-shadow:inset 0 0 0 0 #222, 0 0 0 #222;}

/* form_label */
.form_label {
    display: block;
    position: relative;
    font-size: 14px;
    margin-bottom: 6px;
    color: #888;
}
.form_label.bulReq:after {
	content: '*';
	display: inline-block;
	font-size: 20px;
	color: #a50034;
	margin-left: 4px;
	vertical-align: baseline;
}

/* [phone] form_group */
.form_group.phone{position:relative;font-size:0}
.form_group.phone .selectric_wrap{width:32%;display:inline-block}
.form_group.phone .form_field{width:56%;min-width:auto;max-width:inherit;margin-left:4px}

/* [addr] form_group */
.form_group.addr{position:relative;font-size:0}
.form_group.addr .form_field{min-width:auto;max-width:inherit}
.form_group.addr .form_field.orderPostcode{width:13%}
.form_group.addr .form_field.orderAddr1{width:40%;}
.form_group.addr .form_field.orderAddr2{width:54%;width:-webkit-calc(53% + 4px);width:calc(53% + 4px);margin-top:4px}
.form_group.addr .btn{margin-left:4px;font-size:13px}

/* [bank] form_group */
.form_group.bank{position:relative;font-size:0}
.form_group.bank .selectric_wrap{width:22%;display:inline-block}
.form_group.bank .form_field{min-width:auto;max-width:inherit;margin-left:4px}
.form_group.bank .form_field.orderBankNum{width:34%}
.form_group.bank .form_field.orderBankName{width:18%}

/* [email] form_group */
.form_group.email{position:relative;font-size:0}
.form_group.email .form_field{width:200px;min-width:auto;max-width:inherit}
.form_group.email .selectric_wrap{width:160px;display:inline-block;margin-left:4px}
.form_group.email .separator{display:inline-block;line-height:38px;margin:0 6px;font-size:15px}

/* [pw] form_group */
.form_group.pw .form_field{margin-bottom:4px}
.form_group.pw .info_list{margin-top:0}

/* [date] form_group */
.form_group.date{position:relative}
.form_group.date i{width:16px;height:16px;font-size:16px;color:#aaa;position:absolute;right:12px;top:50%;margin-top:-9px;z-index:10}
.form_group.date .form_field{padding-right:38px}


/* ——————————————————————————
 * select
/* —————————————————————————— */
.selectric_wrap{}
.selectric_wrap .selectric{background:#fff;border-radius:4px;-webkit-transition:border 300ms,-webkit-box-shadow 300ms;transition:border 300ms,-webkit-box-shadow 300ms;transition:border 300ms,box-shadow 300ms;transition:border 300ms,box-shadow 300ms,-webkit-box-shadow 300ms}
.selectric-focus .selectric,
.selectric-hover .selectric,
.selectric-open .selectric{background:#f8f8f8}
.selectric-open .selectric{border-color:#222}
.selectric_wrap .selectric .label{height:36px;line-height:36px;font-size:13px;margin:0 36px 0 12px;color:#222;text-align:left}
.selectric-hover .selectric .button,
.selectric_wrap .selectric .button{width:36px;height:36px;line-height:36px;background:transparent;color:#222}
.selectric-hover .selectric .button:after,
.selectric_wrap .selectric .button:after{border-top-color:#222;-webkit-transition:-webkit-transform 0.4s;transition:-webkit-transform 0.4s;transition:transform 0.4s;transition:transform 0.4s,-webkit-transform 0.4s}
.selectric-open .selectric .button:after{-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);transform:rotate(-180deg)}
.selectric_wrap .selectric-items{background:#fff;border:1px solid #222;border-radius:4px;margin-top:2px;box-shadow:0 0 10px -5px rgba(0,0,0,0.2);-webkit-transition:all 0.4s;transition:all 0.4s}
.selectric_wrap .selectric-items ul{padding:6px;text-align:left}
.selectric_wrap .selectric-items li{font-size:13px;line-height:1.3;padding:8px 10px;color:#999}
.selectric_wrap .selectric-items li:hover{color:#000;background:#f6f6f6}
.selectric_wrap .selectric-items li.highlighted,
.selectric_wrap .selectric-items li.selected{background:transparent;color:#FB6D3A}
.selectric_wrap .selectric-items li.highlighted:hover,
.selectric_wrap .selectric-items li.selected:hover{background:#f6f6f6}

/* selectric_sm */
.selectric_sm.selectric_wrap .selectric .label{height:28px;line-height:28px;letter-spacing:-0.025em;margin:0 28px 0 10px}
.selectric_sm.selectric-hover .selectric .button,
.selectric_sm.selectric_wrap .selectric .button{width:28px;height:28px;line-height:28px}

/* select | status */
.selectric_wrap.status{width:96px;display:inline-block}
.selectric_wrap.status.status_mint .selectric    {background-color:#c1ede4}
.selectric_wrap.status.status_green .selectric   {background-color:#c6f1d9}
.selectric_wrap.status.status_blue .selectric    {background-color:#c5d7f8}
.selectric_wrap.status.status_indigo .selectric  {background-color:#cbd0eb}
.selectric_wrap.status.status_purple .selectric  {background-color:#e4d2eb}
.selectric_wrap.status.status_navy .selectric    {background-color:#c8ced3}
.selectric_wrap.status.status_yellow .selectric  {background-color:#fbefbe}
.selectric_wrap.status.status_orange .selectric  {background-color:#f8dcc3}
.selectric_wrap.status.status_red .selectric     {background-color:#f9cfca}
.selectric_wrap.status.status_light .selectric   {background-color:#ecf0f1;color:#61646a}
.selectric_wrap.status.status_silver .selectric  {background-color:#d9dbe0;color:#61646a}


/* ——————————————————————————
 * radio
/* —————————————————————————— */
/* radioType_1 */
.radioType_1{position:relative}
.radioType_1 ul{font-size:0}
.radioType_1 ul li{display:inline-block;margin-left:6px}
.radioType_1 ul li:first-child{margin-left:0}
.radioType_1 .radios{position:relative}
.radioType_1 .radios input[type="radio"]:checked,
.radioType_1 .radios input[type="radio"]:not(:checked){position:absolute;top:0;left:0;width:0;height:0;filter: alpha(opacity=0);-moz-opacity:0;opacity:0;visibility: hidden;z-index:-1}
.radioType_1 .radios input[type="radio"] + label{height:38px;line-height:36px;padding:0 20px 0 38px;display:block;position:relative;border:1px solid #ddd;background-color:#ffffff;font-size:13px;border-radius:4px;color:#777;text-align:center;transition:all 0.2s ease;-webkit-transition:all 0.2s ease;z-index:2}
.radioType_1 .radios input[type="radio"] + label:hover {background:#f8f8f8}
.radioType_1 .radios input[type="radio"] + label:before{content:'';width:16px;height:16px;display:inline-block;border:1px solid #d4d4d4;background:#fff;border-radius:50%;position:absolute;left:12px;top:50%;transform:translateY(-50%)}
.radioType_1 .radios input[type="radio"] + label:after{content:'';width:8px;height:8px;background:#FB6D3A;position:absolute;top:50%;left:17px;transform:translateY(-50%);border-radius:100%;-webkit-transition:all 0.2s ease;transition:all 0.2s ease;filter: alpha(opacity=0);-moz-opacity:0;opacity:0;-webkit-transform:translateY(-50%) scale(0);transform:translateY(-50%) scale(0)}
.radioType_1 .radios input[type="radio"]:checked + label{border-color:#FB6D3A;color:#FB6D3A;font-weight:500;-webkit-box-shadow:0 1px 5px 0 rgba(0,0,0,0.1);box-shadow:0 1px 5px 0 rgba(0,0,0,0.1)}
.radioType_1 .radios input[type="radio"]:checked + label:before{border-color:#FB6D3A}
.radioType_1 .radios input[type="radio"]:checked + label:after{-webkit-transform:translateY(-50%) scale(1);transform:translateY(-50%) scale(1);filter: alpha(opacity=100);-moz-opacity:1;opacity:1}


/* ——————————————————————————
 * checkbox
/* —————————————————————————— */
.checkType_1{display:inline-block;position:relative;z-index:1}
.checkType_1 input[type="checkbox"]{position:absolute;top:0;left:0;width:0;height:0;filter: alpha(opacity=0);-moz-opacity:0;opacity:0;visibility:hidden;z-index:-1}
.checkType_1 input[type="checkbox"] + label{height:18px;line-height:18px;padding-left:18px;display:block;font-size:14px;position:relative;z-index:10}
.checkType_1 input[type="checkbox"] + label:before{content:'';display:inline-block;width:18px;height:18px;box-sizing:border-box;background:#fff;border:1px solid #ccc;border-radius:3px;position:absolute;top:0;left:0}
.checkType_1 input[type="checkbox"]:checked + label:after{content:"\e92d";font-family:'mong-font' !important;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;color:#aaa;font-size:14px;width:18px;position:absolute;top:0;left:0;bottom:0}


/* ——————————————————————————
 * switch
/* —————————————————————————— */
.switchType_1{position:relative;z-index:1}
.switchType_1 .tit{display:inline-block;vertical-align:middle;font-size:15px;color:#777;margin-left:10px}
.switchType_1 input[type=checkbox]{position:absolute;top:0;right:0;height:0;width:0;visibility:hidden;filter: alpha(opacity=0);-moz-opacity:0;opacity:0;z-index:-1}
.switchType_1 label{text-indent:-9999px;width:54px;height:30px;background:#e8e8e8;display:inline-block;border-radius:15px;position:relative;vertical-align:middle}
.switchType_1 label:after{content:'';position:absolute;top:3px;left:3px;width:24px;height:24px;background:#fff;border-radius:90px;transition:0.3s}
.switchType_1 input:checked + label{background:#FB6D3A}
.switchType_1 input:checked + label:after{left:calc(100% - 5px);transform:translateX(-100%)}
.switchType_1 label:active:after{width:34px}


/* ——————————————————————————
 * table
/* —————————————————————————— */
[class*="tableType"] .tbl_bordered td,
[class*="tableType"] .tbl_bordered th{border:1px solid #e5e5e5 !important}
[class*="tableType"] .tbl_hover tbody tr:hover{background:#ffede6 !important}
[class*="tableType"] .bg_red {background-color: #fef1ef !important}
[class*="tableType"] .bg_blue {background-color: #edf6fc !important}
[class*="tableType"] .bg_yellow {background-color: #fdfae1 !important}

/* tableType_1 */
.tableType_1{}
.tableType_1 table{text-align:center;border-bottom:1px solid #e5e5e5}
.tableType_1 table td,
.tableType_1 table th{font-weight:400;font-size:13px;letter-spacing:-0.01em;padding:10px 6px;vertical-align:middle;border-top:1px solid #e5e5e5}
.tableType_1 table thead td,
.tableType_1 table thead th{color:#888;background-color:#f2f2f2}
.tableType_1 table tbody tr.checked_tr{background-color:#feffbe}
.tableType_1 table tbody tr.checked_tr:hover{background-color:#feffbe !important}
.tableType_1 table tbody th{background-color:#f2f2f2}
.tableType_1 table tbody td a{display:inline-block;line-height:2}
.tableType_1 table tbody td a:hover{color:#FB6D3A}
.tableType_1 table tbody td .icon{display:inline-block;font-size:18px}
.tableType_1 table tbody td i.icon-alert-circle{display:inline-block;font-size:19px;color:#FB6D3A}

/* tableType_2 */
.tableType_2{}
.tableType_2 table{text-align:center;border-bottom:1px solid #e5e5e5}
.tableType_2 table tr.important,
.tableType_2 table tr.important:hover{background:#fff6f0 !important}
.tableType_2 table td,
.tableType_2 table th{font-weight:400;font-size:14px;letter-spacing:0;padding:18px 10px;vertical-align:middle;border-top:1px solid #e5e5e5;color:#888}
.tableType_2 table thead td,
.tableType_2 table thead th{padding:14px 10px;border-top-color:#222;color:#222}
.tableType_2 table tbody td.subject{text-align:left;color:#222}
.tableType_2 table tbody td.subject a{display:inline-block}
.tableType_2 table tbody td.subject a:hover{text-decoration:underline}
.tableType_2 table tbody td i.icon-alert-circle{display:inline-block;font-size:19px;color:#FB6D3A}
.tableType_2 table tr.listNone td p{color:#999;padding:100px 0}
.tableType_2 table tbody td.subject i{display:inline-block;vertical-align:middle;background:#FB6D3A;color:#fff;padding:0 4px;font-size:10px;border-radius:4px;margin-left:6px}


/* tableType_form */
.tableType_form{text-align:left}
.tableType_form .title_line .tools{position:absolute;right:0;bottom:10px}
.tableType_form table{width:100%;position:relative;table-layout:fixed}
.tableType_form table tr{width:100%}
.tableType_form table td,
.tableType_form table th{position:relative;padding:20px;font-size:13px;font-weight:400;color:#222;vertical-align:middle;letter-spacing:-0.01em}
.tableType_form table th{border-bottom:1px solid #e8e8e8;background:#f8f8f8}
.tableType_form table td{color:#666;border-bottom:1px solid #e8e8e8}
.tableType_form table th .btn{margin-top:5px}
.tableType_form table th .form_label,
.tableType_form table th>p{font-size:13px;font-weight:400;color:#222;letter-spacing:-0.01em;margin:0}
.tableType_form table td .form_field{width:90%}
.tableType_form table thead th{font-weight:400;padding:10px 6px}

.tableType_form .file_download li{margin-top:6px}
.tableType_form .file_download li:first-child{margin-top:0}


/* ——————————————————————————
 * alert
/* —————————————————————————— */
.alert{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;padding:14px 25px;margin:0 0 10px;border-radius:4px;font-size:13px;color:#222;-webkit-box-shadow:0 0 13px 0 rgba(82,63,105,.05);box-shadow:0 0 13px 0 rgba(82,63,105,.05);background-color:#fff;border:1px solid #ddd}
.alert .alert_icon{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0 16px 0 0}
.alert .alert_icon i{font-size:20px}
.alert .alert_text{-ms-flex-item-align:center;align-self:center;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1}
.alert .alert_close{padding:0 0 0 1rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.alert .alert_close button{font-size:16px;color:#aaa}
.alert .alert_close button:hover{color:#222}

/* alert_dark */
.alert_dark {
    color: #222;
    border-color: #222;
}
/* alert_blue */
.alert_blue {
    color: #286be4;
    border-color: #286be4;
}
/* alert_red */
.alert_red {
    color: #fff;
    border-color: #e74c3c;
    background-color: #e74c3c;
}


/* ——————————————————————————
 * comment
/* —————————————————————————— */
.comment{}
.comment_write{position:relative;margin-top:10px;padding-right:72px}
.comment_write_inp{}
.comment_write label{display:block;position:relative;padding-left:50px}
.comment_write label i{width:50px;height:50px;line-height:50px;display:inline-block;text-align:center;font-size:18px;background:#f2f2f2;border:1px solid #ddd;border-right:0;border-radius:4px 0 0 4px;color:#999;position:absolute;top:0;left:0}
.comment_write label .form_field{min-width:auto;width:100%;height:50px;padding:12px 14px;font-size:15px;line-height:24px;border-radius:0 4px 4px 0}
.comment_write .btn{position:absolute;top:50%;right:0;transform:translateY(-50%)}

.comment_list{}
.comment_list ul li{overflow:hidden;margin-top:20px}
.comment_box{float:left;position:relative;max-width:80%;padding:14px 16px;background:#f4f4f4;border:1px solid #eee;border-radius:18px;border-bottom-left-radius:0}
.comment_box.me{float:right;border-bottom-left-radius:18px;border-bottom-right-radius:0;background:rgba(251,109,58,0.1);border-color:rgba(251,109,58,0.15)}
.comment_box.none{width:100%;max-width:100%;float:none;text-align:center;border-radius:0;padding:40px 0 60px;background:#fff;border:0;border-bottom:1px solid #e4e4e4}
.comment_box .comment_box_info{font-size:13px;letter-spacing:0;margin-bottom:8px}
.comment_box .comment_box_info h4,
.comment_box .comment_box_info span{display:inline-block;font-weight:700;vertical-align:middle;color:#222}
.comment_box .comment_box_info span{font-weight:400;margin-left:10px}
.comment_box .comment_box_info i{display:inline-block;vertical-align:middle;background:#FB6D3A;color:#fff;padding:0 4px;font-size:10px;border-radius:4px;margin-left:6px}
.comment_box p{color:#666;font-size:13px}
.comment_box.none p{color:#aaa;font-size:16px}


/* ——————————————————————————
 * pagination
/* —————————————————————————— */
.pagination{text-align:center;margin-top:20px;padding:10px 0}
.pagination ul{display:inline-block}
.pagination ul li{float:left;margin:0 2px}
.pagination ul li.page_arr.page_prev{margin-right:12px}
.pagination ul li.page_arr.page_next{margin-left:12px}
.pagination ul li a{width:30px;height:30px;line-height:32px;display:block;color:#777;font-size:13px;letter-spacing:0;letter-spacing:0.025em;text-align:center;border-radius:50%}
.pagination ul li.page_arr a{background-color:rgba(80,62,157,0.12);color:#503E9D;line-height:30px;font-size:15px;letter-spacing:0}
.pagination ul li a:hover,
.pagination ul li.active a{background-color:#503E9D;color:#fff}


/* ——————————————————————————
 * layerPost | kakao post
/* —————————————————————————— */
#layerPost{display:none;position:fixed;overflow:hidden;z-index:9999;-webkit-overflow-scrolling:touch}
#layerPost #btnCloseLayer{width:30px;height:30px;position:absolute;top:0;right:0;background:#000;color:#fff;font-size:18px;border-radius:0 4px 4px 0}
[id*="__daum__layer"]{width:372px !important;border:2px solid;border-radius:4px}